# TABLEAU MAGES
![Tableau Mages](../img/tm.jpg)

## ```Welcome to your challenge```

You and your teammates have been asigned the role of `tableu mages`, controllers of matter and creators of splendor out of thin air. You control the hability to shapeshift _data_, not only for beauty, but to unleash it's true power and potential. Much dedication and attention to detail is required of you.

However, fighting the battle is not the end, you must live to tell the tale.

### The song of a hero

Your theme is: `data visualization`
The task in this challenge is twofold.
Your team must:
- Answer the most questions you can.
- List **at least** `5` topics of interest (important points) on the theme to guide your 20 min presentation to your fellow students.
- Work together and help each other out.

_TIP_: Remember to check your topics along the exercise and adjust them accordingly.

The team captain will be responsible for putting all the answers together on this notebook and making the pull request before the deadline set with the instructors.

# IMPORTANT POINTS

- 
- 
- 
- 
-

## Questions

- Why should we visualize data in the form of charts and plots instead of just analyzing it as tables?
- What is the difference between categorical and numerical variables?
    Categorical data is a type of data that can be stored into groups or categories with the aid of names or labels.
    There are 2 main types of categorical data: nominal data and ordinal data. 
        Nominal data: This is the data type of categorical data that names or labels.
        Ordinal data: This type of categorical data includes elements that are ranked.
    
    Numerical data can only be collected in number form. Such as a person’s height, weight, IQ, etc.
        There are 2 types of numerical data: Discrete data and continuous data. 
    
- What about between continuous and discrete?
    Discrete Data can only take certain values for example, the number of students in a class or the results of rolling 2 dice...
    Continuous Data can take any value (within a range)Example: A person's height: could be any value (within the range of human heights), not just certain fixed heights.
    
- Should we do data visualiations before or after the process of data cleaning? It doesn't matter or actually both could be useful?
- What kinds of conclusions may we get from having our data represented visually?

![URL](../img/graphs.png)

##### List different types of plots you remember.
- 
- 
- 
- 

Are all them good for representing both catergorical and numerical values? Which is better for eca+m¿

Import the libraries.

In [1]:
import pandas as pd

First of all, lets start with a simple example.

With the dataset at `data/salary.csv`, that is composed of only 2 columns, how would you represent this data visually?
Are these columns numeric or categorical? Continuous or Discrete?
What does this representation tell you about the relation between those columns.

In [4]:
df_salary = pd.read_csv("data/salary.csv")
df_iris = pd.read_csv("data/Iris.csv")
df_games= pd.read_csv("data/vgsales.csv")

In [5]:
df_salary.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [6]:
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
df_games.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Now, let's try with a dataset that has a little bit more data. This is a classic dataset for beginners Machine Learning. It relates the measures of length and width of both the petals and sepals of 3 different, but related, species, of the Genus Iris.

Do you think we could be able to see through plots if these flowers can be separated by these measures alone?
Try plotting a graph that relates the length and width of the petal, but that has 3 different colors, one for each of the 3 different species.

In [3]:
# Your answer

Now lets do the same with the sepal measurements. Let's put them side by side with subplots and see if either the sepal or petal gives us a more clear separation of the 3 colors.

In [4]:
# Your answer

Let's check something else. Do you think the length of the petals is uniformly distributed? Which kind of plot is best for representing the distribution of a column?

In [ ]:
# Your answer

What are the most important things to have in mind **before** creating a plot? For example, how do you chose which type of plot?

- 
- 
- ...

Finally, if we have a new dataset that we are not familiar with, we can (and should) use the visualizations to explore the data. Give it a try with this dataset on video game sales, `data/vgsales.csv`.
This takes a little bit of try and error, but once you get the hang of it, certain types of data ask for certain types of charts.

You may try creating graphics that allows us to:
- See which plataform has the most number of titles.
- See which plataform ocupies the largest percentage of the total.
- Compare how the sales numbers changed over the years in the different continents.
- Get the total sales by plataform.
- See the distribution of sales throughout the years, decade by decade
-- ...etc

_NOTE:_ You may solve this exercises either in jupyter notebook, with matplotlib and seaborn, or in tableau. But if you choose tablaeu, do not forget to upload it to tableau public and place the link:
    ```
    <here>
    ```

In [7]:
# Your answer

How about **after** you created a plot, what are the most important steps to analyze it?
- 
- 
- 
- ...

#### Extra
[YouTube: A lot of cool tableau examples from a master](https://www.youtube.com/watch?v=S5QN-fK2-wU)